*{
    margin: 0;
    padding: 0;
}
body{
    --navColor:  rgb(0, 0, 0);
    --backgroundColor: rgba(26, 173, 122, 0.801);
    background: var(--backgroundColor);
    color: whitesmoke;
}
#titleBox{
    background: var(--navColor);
    display: flex;
    justify-content: center;
    height: 60px;
    padding-top: 10px;
    text-align: center;
}
h1{
    color: white;
    font-size: 250%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.active{
    display: block;
}
.non-active{
    display: none;
}
#navBar{
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0;
}
#navBarButton{
    position: absolute;
    top: 10px;
    left: 30px;
    width: 50px;
    height: 50px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navBarButton>img{
    position: relative;
    width: 100%;
    height: 100%;
}
#navElementWrapper{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 350px;
    height: 100%;
    background: var(--navColor);
    z-index: 4;
}
#menuTitle{
    position: relative;
    width: 100%;
    font-size: 150%;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.navElement{
    background: var(--navColor);
    margin: 20px 3px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
    text-decoration: none;
    color: white;
}
.navElement:hover{
    color: gray;
}
#content{
    margin: 0;
    
}
#description{
    position: relative;
    margin: 10px 30px;
    font-size: 140%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
canvas{
    display: block;
    border: solid rgb(6, 62, 100) 1px;
    margin: auto;
}